<div class="main-form">
  <img src="img/logo.jpg" />
  <form action="/shorten" method="post">
    <input type="text" name="url"></input><br/>
    <input class="btn btn-danger" type="submit" value="Shorten URL" />
  </form>
</div>
