<!DOCTYPE html>
<html>
  <head>
    <title>JetFuel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/layout.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/urls">URLs</a></li>
          <li><a href="/users/new">Register</a></li>
          <% if @current_user %>
            <li><a style="color:red;" href="/users/<%= @current_user.username %>"><%=@current_user.username%></a></li>
            <li><a href="/logout">Logout</a></li>
          <% else %>
            <li><a href="/">Login</a></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
